# Investigation of the reliability of borrowers

**Customer** — credit department of the bank. It is necessary to find out whether the marital status and the number of children of the client affect the fact of repayment of the loan on time. Input data from the bank — statistics on the solvency of customers.

The results of the study will be taken into account when building a model of *credit scoring* — a special system that evaluates the ability of a potential borrower to repay a loan to the bank.

**Data description:**
children — the number of children in the family;
days_employed — total work experience in days;
dob_years — client's age in years;
education — the level of education of the client;
education_id — identifier of the level of education;
family_status — marital status;
family_status_id — id of marital status;
gender — the gender of the client;
income_type — type of employment;
debt — whether there was a debt on repayment of loans;
total_income — monthly income;
purpose — the purpose of obtaining a loan.

## Data overview

Let's make a first idea of the data.

Import the library — `pandas`, read — `datasets` and save it in the variable — `data`:

In [67]:
import pandas as pd # import the pandas library
data = pd.read_csv('credit_project_dataset.csv') 
# reading a data file and saving it to data

Let's display the first twenty lines on the screen `data`:

In [ ]:
data.head(20) # getting the first 20 rows of data

|  | children | days\_employed | dob\_years | education | education\_id | family\_status | family\_status\_id | gender | income\_type | debt | total\_income | purpose |
| :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |
| 0 | 1 | -8437.673028 | 42 | высшее | 0 | женат / замужем | 0 | F | сотрудник | 0 | 253875.639453 | покупка жилья |
| 1 | 1 | -4024.803754 | 36 | среднее | 1 | женат / замужем | 0 | F | сотрудник | 0 | 112080.014102 | приобретение автомобиля |
| 2 | 0 | -5623.422610 | 33 | Среднее | 1 | женат / замужем | 0 | M | сотрудник | 0 | 145885.952297 | покупка жилья |
| 3 | 3 | -4124.747207 | 32 | среднее | 1 | женат / замужем | 0 | M | сотрудник | 0 | 267628.550329 | дополнительное образование |
| 4 | 0 | 340266.072047 | 53 | среднее | 1 | гражданский брак | 1 | F | пенсионер | 0 | 158616.077870 | сыграть свадьбу |
| 5 | 0 | -926.185831 | 27 | высшее | 0 | гражданский брак | 1 | M | компаньон | 0 | 255763.565419 | покупка жилья |
| 6 | 0 | -2879.202052 | 43 | высшее | 0 | женат / замужем | 0 | F | компаньон | 0 | 240525.971920 | операции с жильем |
| 7 | 0 | -152.779569 | 50 | СРЕДНЕЕ | 1 | женат / замужем | 0 | M | сотрудник | 0 | 135823.934197 | образование |
| 8 | 2 | -6929.865299 | 35 | ВЫСШЕЕ | 0 | гражданский брак | 1 | F | сотрудник | 0 | 95856.832424 | на проведение свадьбы |
| 9 | 0 | -2188.756445 | 41 | среднее | 1 | женат / замужем | 0 | M | сотрудник | 0 | 144425.938277 | покупка жилья для семьи |
| 10 | 2 | -4171.483647 | 36 | высшее | 0 | женат / замужем | 0 | M | компаньон | 0 | 113943.491460 | покупка недвижимости |
| 11 | 0 | -792.701887 | 40 | среднее | 1 | женат / замужем | 0 | F | сотрудник | 0 | 77069.234271 | покупка коммерческой недвижимости |
| 12 | 0 | NaN | 65 | среднее | 1 | гражданский брак | 1 | M | пенсионер | 0 | NaN | сыграть свадьбу |
| 13 | 0 | -1846.641941 | 54 | неоконченное высшее | 2 | женат / замужем | 0 | F | сотрудник | 0 | 130458.228857 | приобретение автомобиля |
| 14 | 0 | -1844.956182 | 56 | высшее | 0 | гражданский брак | 1 | F | компаньон | 1 | 165127.911772 | покупка жилой недвижимости |
| 15 | 1 | -972.364419 | 26 | среднее | 1 | женат / замужем | 0 | F | сотрудник | 0 | 116820.904450 | строительство собственной недвижимости |
| 16 | 0 | -1719.934226 | 35 | среднее | 1 | женат / замужем | 0 | F | сотрудник | 0 | 289202.704229 | недвижимость |
| 17 | 0 | -2369.999720 | 33 | высшее | 0 | гражданский брак | 1 | M | сотрудник | 0 | 90410.586745 | строительство недвижимости |
| 18 | 0 | 400281.136913 | 53 | среднее | 1 | вдовец / вдова | 2 | F | пенсионер | 0 | 56823.777243 | на покупку подержанного автомобиля |
| 19 | 0 | -10038.818549 | 48 | СРЕДНЕЕ | 1 | в разводе | 3 | F | сотрудник | 0 | 242831.107982 | на покупку своего автомобиля |

Get general information about `data` using the — `info()` method:

In [ ]:
data.info() # getting general information about data in data

| | |
| --- | --- |
| **Column** | **Non-Null Count** | **Dtype** |
| --- | --- | --- |
| children | 21525 | int64 |
| days_employed | 19351 | float64 |
| dob_years | 21525 | int64 |
| education | 21525 | object |
| education_id | 21525 | int64 |
| family_status | 21525 | object |
| family_status_id | 21525 | int64 |
| gender | 21525 | object |
| income_type | 21525 | object |
| debt | 21525 | int64 |
| total_income | 19351 | float64 |
| purpose | 21525 | object |
| --- | --- | --- |
| **dtypes:** float64(2), int64(5), object(5) | **memory usage:** 2.0+ MB |

## Data preprocessing

### Deleting omissions

Output the number of missing values for each column:

In [ ]:
data.isna().sum() # counting passes

|  | &lt;unnamed&gt; |
| :--- | :--- |
| children | 0 |
| days\_employed | 2174 |
| dob\_years | 0 |
| education | 0 |
| education\_id | 0 |
| family\_status | 0 |
| family\_status\_id | 0 |
| gender | 0 |
| income\_type | 0 |
| debt | 0 |
| total\_income | 2174 |
| purpose | 0 |

There are missing values in two columns. One of them is `days_employed`. The omissions in this column will be processed at the next stage. Another column with missing values — `total_income` — stores income data.

The amount of income is most affected by the type of employment, so we will fill in the gaps in this column with the median value for each type from the `income_type` column:

In [71]:
for t in data['income_type'].unique():
    # iterating over the unique values of the 'income_type' column
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()
    # Select rows where the value of the column 'income_type' is equal to the current value of the variable 't' and the value of the column 'total_income' is missing,
    # replace the missing values of the 'total_income' column with the median values of this column for the current value of the 't' variable.

### Processing of abnormal values

Artifacts may occur in the data, such an anomaly will be a negative number of days of work experience in the `days_employed` column.

Let's process the values in this column, replace all negative values with positive ones using the `abs()` method:

In [72]:
data['days_employed'] = data['days_employed'].abs() 
# replacing all negative values in the 'days_employed' column with their absolute values

For each type of employment, we will output the median value of the length of service `days_employed` in days:

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')
# calculating the median number of working days for each type of income

| <br/>income\_type | days\_employed<br/> |
| :--- | :--- |
| безработный | 366413.652744 |
| в декрете | -3296.759962 |
| госслужащий | -2689.368353 |
| компаньон | -1547.382223 |
| пенсионер | 365213.306266 |
| предприниматель | -520.848083 |
| сотрудник | -1574.202821 |
| студент | -578.751554 |

Two types (unemployed and pensioners) have abnormally large values. In another project we would have corrected these values, but in this one it is not required. Moreover, we will not need this column for our research.

Output a list of unique values of the column `children`:

In [ ]:
data['children'].unique() # returning unique values of the 'children' column

|  | 0 |
| :--- | :--- |
| 0 | 1 |
| 1 | 0 |
| 2 | 3 |
| 3 | 2 |
| 4 | 4 |
| 5 | 5 |

There are two abnormal values in the `children` column. 

Delete the lines in which such abnormal values occur from the dataframe `data`:

In [75]:
data = data[(data['children'] != -1) & (data['children'] != 20)] 
# filtering data, excluding rows with the number of children -1 and 20

To check again, we will output a list of unique values of the `children` column to make sure that the artifacts are removed:

In [ ]:
data['children'].unique() # returning unique values of the 'children' column

|  | 0 |
| :--- | :--- |
| 0 | 1 |
| 1 | 0 |
| 2 | 3 |
| 3 | 2 |
| 4 | 4 |
| 5 | 5 |

### Deleting omissions (continued)

Fill in the gaps in the `days_employed` column with median values for each type of employment `income_type`:

In [77]:
for t in data['income_type'].unique(): # iterating over the unique values of the 'income_type' column
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()
# Select rows where the value of the column 'income_type' is equal to the current value of the variable 't' and the value of the column 'days_employed' is missing,
# replace the missing values of the 'days_employed' column with the median values of this column for the current value of the 't' variable.

Make sure that all the gaps are filled in:

In [ ]:
data.isna().sum() # counting passes

|  | &lt;unnamed&gt; |
| :--- | :--- |
| children | 0 |
| days\_employed | 0 |
| dob\_years | 0 |
| education | 0 |
| education\_id | 0 |
| family\_status | 0 |
| family\_status\_id | 0 |
| gender | 0 |
| income\_type | 0 |
| debt | 0 |
| total\_income | 0 |
| purpose | 0 |
| total\_income\_category | 0 |
| purpose\_category | 0 |

### Changing Data Types

Replace the real data type in the `total_income` column with an integer using the `astype()` method:

In [79]:
data['total_income'] = data['total_income'].astype(int) 
# converting the 'total_income' column to the 'int' data type

### Processing duplicates

Let's process the implicit duplicates in the `education` column. In this column there are the same values, but written in different ways: using uppercase and lowercase letters. Let's reduce them to lowercase, and check the rest of the columns:

In [80]:
data['education'] = data['education'].str.lower() 
# converting all values in the 'education' column to lowercase format and converting them to lowercase

Let's display the number of duplicate rows in the data. If such lines are present, delete them:

In [ ]:
data.duplicated().sum() # counting duplicate rows

In [82]:
data = data.drop_duplicates() # deleting duplicate rows

### Categorization of data

Based on the ranges specified by the customer below, we will create a `total_income_category` column with categories in the `data` dataframe:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

For example, a borrower with an income of 25,000 needs to assign a category `E`, and a client receiving 235,000 needs to assign a category `B`. 

We use our own function named `categorize_income()` and the `apply()` method:

In [83]:
def categorize_income(income): # calling the 'categorize_income()' function
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [84]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
# applying the 'categorize_income' function to the 'total_income' column and creating a new 'total_income_category' column

Let's display a list of unique purposes of taking a loan from the `purpose` column:

In [ ]:
data['purpose'].unique() # returning unique values of the 'purpose' column

|  | 0 |
| :--- | :--- |
| 0 | покупка жилья |
| 1 | приобретение автомобиля |
| 2 | дополнительное образование |
| 3 | сыграть свадьбу |
| 4 | операции с жильем |
| 5 | образование |
| 6 | на проведение свадьбы |
| 7 | покупка жилья для семьи |
| 8 | покупка недвижимости |
| 9 | покупка коммерческой недвижимости |
| 10 | покупка жилой недвижимости |
| 11 | строительство собственной недвижимости |
| 12 | недвижимость |
| 13 | строительство недвижимости |
| 14 | на покупку подержанного автомобиля |
| 15 | на покупку своего автомобиля |
| 16 | операции с коммерческой недвижимостью |
| 17 | строительство жилой недвижимости |
| 18 | жилье |
| 19 | операции со своей недвижимостью |
| 20 | автомобили |
| 21 | заняться образованием |
| 22 | сделка с подержанным автомобилем |
| 23 | получение образования |
| 24 | автомобиль |
| 25 | свадьба |
| 26 | получение дополнительного образования |
| 27 | покупка своего жилья |
| 28 | операции с недвижимостью |
| 29 | получение высшего образования |
| 30 | свой автомобиль |
| 31 | сделка с автомобилем |
| 32 | профильное образование |
| 33 | высшее образование |
| 34 | покупка жилья для сдачи |
| 35 | на покупку автомобиля |
| 36 | ремонт жилью |
| 37 | заняться высшим образованием |

Let's create a function that, based on the data from the `purpose` column, will form a new `purpose_category` column, which will include the following categories:

- `'операции с автомобилем'` — car operations;
- `'операции с недвижимостью'` — real estate transactions;
- `'проведение свадьбы'` — holding a wedding;
- `'получение образования'` — getting an education.

For example, if the `purpose` column contains the substring `to buy a car`, then the `operations with a car` line should appear in the `purpose_category` column.

We use our own function named `categorize_purpose()` and the `apply()` method. Let's examine the data in the `purpose` column and determine which substrings will help us correctly identify the category:

In [86]:
def categorize_purpose(row): # calling the 'categorize_purpose()' function
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [87]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
# applying the 'categorize_purpose' function to the 'purpose' column and creating a new 'purpose_category' column

### Data research and answers to customer's questions

#### Is there a relationship between the number of children and the repayment of the loan on time?

In [88]:
debt_and_children = pd.DataFrame() # creating a new DataFrame

In [89]:
debt_and_children['sum_debt_and_children'] = data.groupby('children')['debt'].sum() 
# record in a new column the amount of debts for 'children'
debt_and_children['count_debt_and_children'] = data.groupby('children')['debt'].count() # entry in a new column of the number of debts for 'children'
debt_and_children['result_debt_and_children'] = debt_and_children['sum_debt_and_children'] / debt_and_children['count_debt_and_children'] # entry in a new average debt column

In [ ]:
debt_and_children.sort_values('result_debt_and_children', ascending = True) 
# sort in ascending order

**Conclusion:**

| <br/>children | sum\_debt\_and\_children<br/> | count\_debt\_and\_children<br/> | result\_debt\_and\_children<br/> |
| :--- | :--- | :--- | :--- |
| 5 | 0 | 9 | 0.000000 |
| 0 | 1063 | 14091 | 0.075438 |
| 3 | 27 | 330 | 0.081818 |
| 1 | 444 | 4808 | 0.092346 |
| 2 | 194 | 2052 | 0.094542 |
| 4 | 4 | 41 | 0.097561 |

Based on the table data, it can be concluded that there may be a relationship between the number of children and the probability of loan delinquency. However, this conclusion needs to be confirmed with a more extensive sample, which will include categories with a large number of children. In particular, it is necessary to increase the sample size for categories with 3-5 children. This can be done, for example, by increasing the sample size as a whole or by conducting a separate survey among people with a large number of children.

#### Is there a relationship between marital status and repayment of the loan on time?

In [91]:
debt_and_status = pd.DataFrame() # creating a new DataFrame

In [92]:
debt_and_status['sum_debt_and_status'] = data.groupby('family_status')['debt'].sum() # entry in a new column of the number of debts by 'family_status'
debt_and_status['count_debt_and_status'] = data.groupby('family_status')['debt'].count() # entry in a new column of the amount of debts by 'family_status'
debt_and_status['result_debt_and_status'] = debt_and_status['sum_debt_and_status'] / debt_and_status['count_debt_and_status'] # entry in a new average debt column

In [ ]:
debt_and_status.sort_values('result_debt_and_status', ascending = True) 
# sort in ascending order

**Conclusion:**

| <br/>family\_status | sum\_debt\_and\_status<br/> | count\_debt\_and\_status<br/> | result\_debt\_and\_status<br/> |
| :--- | :--- | :--- | :--- |
| вдовец / вдова | 63 | 951 | 0.066246 |
| в разводе | 84 | 1189 | 0.070648 |
| женат / замужем | 927 | 12261 | 0.075606 |
| гражданский брак | 385 | 4134 | 0.093130 |
| Не женат / не замужем | 273 | 2796 | 0.097639 |

There is a relationship between marital status and repayment of the loan on time. In general, people who are married have a
higher percentage of delinquencies than people who are not married. This may be due to the fact that married families usually have more financial obligations than unmarried people. Such obligations may include expenses for the maintenance of a family, the education of children, housing.

However, there are exceptions to this trend. So, people who are widowed or divorced have a lower percentage of delinquencies, 
than people who are married. This may be due to the fact that these people tend to have a higher level of responsibility and financial discipline than people who have never been married.

Thus, it can be concluded that marital status is a factor that can affect the likelihood of loan delinquency. However, this factor is not the only and important one. The probability of delay may also be influenced by other factors, such as income level, education level, and the presence of children.

#### Is there a relationship between the level of income and repayment of the loan on time?

In [94]:
debt_and_income = pd.DataFrame() # creating a new DataFrame

In [95]:
debt_and_income['sum_debt_and_income'] = data.groupby('total_income_category')['debt'].sum() # entry in a new column of the number of debts by 'total_income_category'
debt_and_income['count_debt_and_income'] = data.groupby('total_income_category')['debt'].count() # entry in a new column of the amount of debts by 'total_income_category'
debt_and_income['result_debt_and_income'] = debt_and_income['sum_debt_and_income'] / debt_and_income['count_debt_and_income'] # entry in a new average debt column

In [ ]:
debt_and_income.sort_values('result_debt_and_income', ascending = True) 
# sort in ascending order

**Conclusion:**

| <br/>total\_income\_category | sum\_debt\_and\_income<br/> | count\_debt\_and\_income<br/> | result\_debt\_and\_income<br/> |
| :--- | :--- | :--- | :--- |
| D | 21 | 349 | 0.060172 |
| B | 354 | 5014 | 0.070602 |
| A | 2 | 25 | 0.080000 |
| C | 1353 | 15921 | 0.084982 |
| E | 2 | 22 | 0.090909 |

Based on the data in the table, it can be concluded that there may be a relationship between the level of income and the probability of loan delinquency. However, this conclusion needs to be confirmed with a larger sample, which will represent categories with a smaller sample size. This can be done, for example, by increasing the sample size as a whole or by conducting a separate survey among people with income in these categories.

#### How do different loan goals affect its repayment on time?

In [97]:
debt_and_purpose = pd.DataFrame() # creating a new DataFrame

In [98]:
debt_and_purpose['sum_debt_and_purpose'] = data.groupby('purpose_category')['debt'].sum() # entry in a new column of the number of debts by 'purpose_category'
debt_and_purpose['count_debt_and_purpose'] = data.groupby('purpose_category')['debt'].count() # entry in a new column of the amount of debts by 'purpose_category'
debt_and_purpose['result_debt_and_purpose'] = debt_and_purpose['sum_debt_and_purpose'] / debt_and_purpose['count_debt_and_purpose'] # entry in a new average debt column

In [ ]:
debt_and_purpose.sort_values('result_debt_and_purpose', ascending = True) 
# sort in ascending order

**Conclusion:**

| <br/>purpose\_category | sum\_debt\_and\_purpose<br/> | count\_debt\_and\_purpose<br/> | result\_debt\_and\_purpose<br/> |
| :--- | :--- | :--- | :--- |
| операции с недвижимостью | 780 | 10751 | 0.072551 |
| проведение свадьбы | 183 | 2313 | 0.079118 |
| получение образования | 369 | 3988 | 0.092528 |
| операции с автомобилем | 400 | 4279 | 0.093480 |

There is a relationship between the purpose of the loan and the repayment of the loan on time. In general, people who take out loans for more important and long-term goals are more responsible about their obligations and have a lower percentage of delinquencies.

## Results of the study

Based on the analysis, it can be concluded that there is a relationship between the probability of loan delinquency and the following factors: 

* Marital status - people who were not married, who have 4 children, who are in a civil marriage, have a higher probability of loan delinquency than people who were married, who have 0-3 children, who are in an official marriage. 
* Income - Low-income people have a higher probability of loan delinquency than high-income people. 
* The purpose of the loan - people taking out a loan for education or buying a car have a higher probability of loan delinquency than people taking out a loan for real estate or starting a family. 

It should be noted that the relationship between these factors and the probability of loan delinquency is not strict. In each case, it is necessary to take into account the individual circumstances of the borrower, such as his lifestyle, financial habits. 

It is important to note that in some cases, the conclusion that there is a relationship between the factor and the probability of loan delinquency may be inaccurate due to the small sample size for this category.